In [1]:
#Step-1 : Load The Library:

In [2]:
import pandas as pd

In [3]:
#Step-2: Load The DataSet:

In [6]:
data=pd.read_csv("/KaggleV2-May-2016.csv")
print(data)

          PatientId  AppointmentID Gender          ScheduledDay  \
0      2.987250e+13        5642903      F  2016-04-29T18:38:08Z
1      5.589978e+14        5642503      M  2016-04-29T16:08:27Z
2      4.262962e+12        5642549      F  2016-04-29T16:19:04Z
3      8.679512e+11        5642828      F  2016-04-29T17:29:31Z
4      8.841186e+12        5642494      F  2016-04-29T16:07:23Z
...             ...            ...    ...                   ...
32337  2.941675e+13        5644273      F  2016-05-02T08:28:18Z
32338  3.326679e+12        5645249      F  2016-05-02T09:39:34Z
32339  4.924131e+12        5652725      M  2016-05-03T10:32:38Z
32340  2.419962e+13        5707125      F  2016-05-17T09:12:38Z
32341  3.837653e+14        5732574      F          2016-05-24T1

             AppointmentDay   Age      Neighbourhood  Scholarship  \
0      2016-04-29T00:00:00Z  62.0    JARDIM DA PENHA          0.0
1      2016-04-29T00:00:00Z  56.0    JARDIM DA PENHA          0.0
2      2016-04-29T00:00:00Z  62.0      MATA DA PRAIA          0.0
3      2016-04-29T00:00:00Z   8.0  PONTAL DE CAMBURI          0.0
4      2016-04-29T00:00:00Z  56.0    JARDIM DA PENHA          0.0
...                     ...   ...                ...          ...
32337  2016-05-24T00:00:00Z  56.0             CENTRO          0.0
32338  2016-05-31T00:00:00Z  60.0             CENTRO          0.0
32339  2016-05-03T00:00:00Z  41.0          DO QUADRO          0.0
32340  2016-05-17T00:00:00Z  27.0             CENTRO          0.0
32341                   NaN   NaN                NaN          NaN

       Hipertension  Diabetes  Alcoholism  Handcap  SMS_received No-show
0               1.0       0.0         0.0      0.0           0.0      No
1               0.0       0.0         0.0      0.0           0.0      No
2               0.0       0.0         0.0      0.0           0.0      No
3               0.0       0.0         0.0      0.0           0.0      No
4               1.0       1.0         0.0      0.0           0.0      No
...             ...       ...         ...      ...           ...     ...
32337           0.0       0.0         0.0      0.0           0.0      No
32338           1.0       0.0         0.0      0.0           1.0      No
32339           0.0       0.0         0.0      0.0           0.0      No
32340           0.0       0.0         0.0      0.0           0.0      No
32341           NaN       NaN         NaN      NaN           NaN     NaN

[32342 rows x 14 columns]

In [ ]:
#Step 3: Identify And Handle Missing Values:

In [8]:
print("Identify and handle missing values")
print("\nMissing values before cleaning:\n", data.isnull().sum())

Identify and handle missing values

Missing values before cleaning:
 PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    1
Age               1
Neighbourhood     1
Scholarship       1
Hipertension      1
Diabetes          1
Alcoholism        1
Handcap           1
SMS_received      1
No-show           1
dtype: int64

In [9]:
#Step-4: Drop Missing Rows In Place:

In [11]:
data.dropna(inplace=True)
print(" Missing Values After Cleaning:\n", data.isnull().sum())

 Missing values after cleaning:
 PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [12]:
#Step 5: Remove Duplicate Records:

In [13]:
print("Remove Duplicate Records")

duplicates_before = data.duplicated().sum()
print(f"\n Duplicates before cleaning:\n {duplicates_before}")

data.drop_duplicates(inplace=True)

duplicates_after = data.duplicated().sum()
print(f"\n Duplicates after cleaning:\n {duplicates_after}")

Remove Duplicate Records

 Duplicates before cleaning:
 0

 Duplicates after cleaning:
 0

In [15]:
# Step 6: Rename columns for consistency

In [22]:

print("Rename columns for consistency")

data.columns = [col.strip().lower().replace(" ", "_") for col in data.columns]
#strip: Removes extra spaces at the beginning or end of the name.

print("\n Standardized column names:\n", data.columns.tolist())

Rename columns for consistency

 Standardized column names:
 ['patientid', 'appointmentid', 'gender', 'scheduledday', 'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension', 'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no-show']

In [ ]:
#Step-7: Convert Date Formats To A Consistent Type (e.g., dd-mm-yyyy)

In [21]:
data['scheduledday'] = pd.to_datetime(data['scheduledday']).dt.strftime('%d-%m-%Y')
print(data)

/tmp/ipython-input-408270096.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['scheduledday'] = pd.to_datetime(data['scheduledday']).dt.strftime('%d-%m-%Y')

          patientid  appointmentid gender scheduledday        appointmentday  \
0      2.987250e+13        5642903      F   29-04-2016  2016-04-29T00:00:00Z
1      5.589978e+14        5642503      M   29-04-2016  2016-04-29T00:00:00Z
2      4.262962e+12        5642549      F   29-04-2016  2016-04-29T00:00:00Z
3      8.679512e+11        5642828      F   29-04-2016  2016-04-29T00:00:00Z
4      8.841186e+12        5642494      F   29-04-2016  2016-04-29T00:00:00Z
...             ...            ...    ...          ...                   ...
32336  3.758937e+13        5643908      F   02-05-2016  2016-05-17T00:00:00Z
32337  2.941675e+13        5644273      F   02-05-2016  2016-05-24T00:00:00Z
32338  3.326679e+12        5645249      F   02-05-2016  2016-05-31T00:00:00Z
32339  4.924131e+12        5652725      M   03-05-2016  2016-05-03T00:00:00Z
32340  2.419962e+13        5707125      F   17-05-2016  2016-05-17T00:00:00Z

        age      neighbourhood  scholarship  hipertension  diabetes  \
0      62.0    JARDIM DA PENHA          0.0           1.0       0.0
1      56.0    JARDIM DA PENHA          0.0           0.0       0.0
2      62.0      MATA DA PRAIA          0.0           0.0       0.0
3       8.0  PONTAL DE CAMBURI          0.0           0.0       0.0
4      56.0    JARDIM DA PENHA          0.0           1.0       1.0
...     ...                ...          ...           ...       ...
32336  34.0             CENTRO          0.0           0.0       0.0
32337  56.0             CENTRO          0.0           0.0       0.0
32338  60.0             CENTRO          0.0           1.0       0.0
32339  41.0          DO QUADRO          0.0           0.0       0.0
32340  27.0             CENTRO          0.0           0.0       0.0

       alcoholism  handcap  sms_received no-show
0             0.0      0.0           0.0      No
1             0.0      0.0           0.0      No
2             0.0      0.0           0.0      No
3             0.0      0.0           0.0      No
4             0.0      0.0           0.0      No
...           ...      ...           ...     ...
32336         0.0      0.0           0.0     Yes
32337         0.0      0.0           0.0      No
32338         0.0      0.0           1.0      No
32339         0.0      0.0           0.0      No
32340         0.0      0.0           0.0      No

[32341 rows x 14 columns]

In [23]:
#Step-8: Check The DataTypes:

In [24]:
data.dtypes

patientid         float64
appointmentid       int64
gender             object
scheduledday       object
appointmentday     object
age               float64
neighbourhood      object
scholarship       float64
hipertension      float64
diabetes          float64
alcoholism        float64
handcap           float64
sms_received      float64
no-show            object
dtype: object

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32341 entries, 0 to 32340
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   patientid       32341 non-null  float64
 1   appointmentid   32341 non-null  int64
 2   gender          32341 non-null  object
 3   scheduledday    32341 non-null  object
 4   appointmentday  32341 non-null  object
 5   age             32341 non-null  float64
 6   neighbourhood   32341 non-null  object
 7   scholarship     32341 non-null  float64
 8   hipertension    32341 non-null  float64
 9   diabetes        32341 non-null  float64
 10  alcoholism      32341 non-null  float64
 11  handcap         32341 non-null  float64
 12  sms_received    32341 non-null  float64
 13  no-show         32341 non-null  object
dtypes: float64(8), int64(1), object(5)
memory usage: 3.7+ MB